<!DOCTYPE html>
<html>
<head>
  <title>GuardEventApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <%=link_to("home", "/")%>
      <br>
      <%=link_to("History", history_path)%>
      <br>
      <%=link_to("Photos", photos_path)%>

    </header>
    <p class="notice"><%= notice %></p>


    <%= yield %>
  </div>
</body>
</html>
